Handling Misssing data

In [1]:
import pandas as pd

data = {
    "Name": ["Sohan", "Pawan", "Rakesh", "Sahil"],
    "Age": [23, None, 45, None],
    "Salary": [None, 303303, 560033, 902202]
}

df = pd.DataFrame(data)  # Correct capitalization
print("Original DataFrame")
print(df)

Original DataFrame
     Name   Age    Salary
0   Sohan  23.0       NaN
1   Pawan   NaN  303303.0
2  Rakesh  45.0  560033.0
3   Sahil   NaN  902202.0

In [2]:
print(df.isnull().sum()) 
# to know the missing valus from the data set

Name      0
Age       2
Salary    1
dtype: int64

In [3]:
# To drop the missing values from data set use dropna()

df_drop=df.dropna()
print(df_drop)

     Name   Age    Salary
2  Rakesh  45.0  560033.0

In [4]:
# to FILL THE Null values in the dataset use fillna() with some statastical method(meam,mode,median)

df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Salary"].fillna(df["Salary"].mean(), inplace=True)

print(df)

     Name   Age         Salary
0   Sohan  23.0  588512.666667
1   Pawan  34.0  303303.000000
2  Rakesh  45.0  560033.000000
3   Sahil  34.0  902202.000000

C:\Users\Rohan\AppData\Local\Temp\ipykernel_2016\2172396056.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
C:\Users\Rohan\AppData\Local\Temp\ipykernel_2016\2172396056.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(), inplace=True)

In [10]:
# from sklearn.preprocessing import LabelEncoder
# import pandas as pd
# df=pd.read_csv("sample.csv")

# df_label=df.copy()
# le=LabelEncoder()
# df_label["Gender_Encoded"]=le.fit_transform(df_label["Gender"])
# df_label["Passed_Encoded"]=le.fit_transform(df_label["City"])

from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = pd.read_csv("sample.csv")
df_label = df.copy()


le = LabelEncoder()
df_label["Gender_Encoded"] = le.fit_transform(df_label["Gender"])
df_label["City_Encoded"] = le.fit_transform(df_label["City"])
df_label["Passed_Encoded"] = le.fit_transform(df_label["Passed"])

print("\nLabel Encoded data")
print(df_label[["Name","Gender","Gender_Encoded","Passed","Passed_Encoded"]])

Label Encoded data
    Name  Gender  Gender_Encoded Passed  Passed_Encoded
0  Rohan    Male               1   True               1
1  Sonia  Female               0    NaN               2
2   Amit     NaN               2   True               1
3   Neha  Female               0  False               0
4  Karan    Male               1    NaN               2

In [14]:
df_encoded=pd.get_dummies(df_label,columns=["City"])
print("\none hot encoded(for canverting into categories and represent only 1 value each)")
print(df_encoded)

one hot encoded(for canverting into categories and represent only 1 value each)
    Name  Gender Passed  Gender_Encoded  City_Encoded  Passed_Encoded  \
0  Rohan    Male   True               1             2               1
1  Sonia  Female    NaN               0             1               2
2   Amit     NaN   True               2             0               1
3   Neha  Female  False               0             4               0
4  Karan    Male    NaN               1             3               2

   City_Bangalore  City_Delhi  City_Mumbai  City_Pune
0           False       False         True      False
1           False        True        False      False
2            True       False        False      False
3           False       False        False      False
4           False       False        False       True

* **Feature Scaling**
it is a method to convert the values into a nearby values(range) for better comparisions it cann be like in rajne between 0-1 or neaarby 0 like that.*

Method 1 Standard Scalar

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

scaler=StandardScaler()
x_scaled=scaler.fit_transform()

scaler=MinMaxScaler()
x_scaled=scaler.fir_transform()

In [24]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split


data={
    'StudyHours':[1,2,3,4,5],
    'TestScore':[80,90,59,89,98]
}

df=pd.DataFrame(data)

#StandardScaler

standard_sacler=StandardScaler()
standard_scaled=standard_sacler.fit_transform(df)

print("Standard Sclaer Output: ")
print(pd.DataFrame(standard_scaled,columns=['StudyHours','TestScore']))


#minmax Scaler

minmax_scaler=MinMaxScaler()
minmax_scaled=minmax_scaler.fit_transform(df)

print("\nMin_Max Scaler Output: ")
print(pd.DataFrame(minmax_scaled,columns=['StudyHours','TestScore']))

#train test and Split

X=df[['StudyHours']]
y=df[['TestScore']]

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
print("\n Train-Test-split output")

print("\nTraining data")
print(X_train)

print("Testing data")
print(X_test)

Standard Sclaer Output:
   StudyHours  TestScore
0   -1.414214  -0.239206
1   -0.707107   0.508313
2    0.000000  -1.808995
3    0.707107   0.433561
4    1.414214   1.106328

Min_Max Scaler Output:
   StudyHours  TestScore
0        0.00   0.538462
1        0.25   0.794872
2        0.50   0.000000
3        0.75   0.769231
4        1.00   1.000000

 Train-Test-split output

Training data
   StudyHours
4           5
2           3
0           1
3           4
Testing data
   StudyHours
1           2